.jumbotron h1{
    color: #fff;
}
.jumbotron h2{
    color: #fff;
}
.jumbotron h3{
    color: #fff;
}
.jumbotron p{
    color: #fff;
}
.btn {
        cursor: pointer;
        border: 1px solid #3498db;
        background-color: transparent;
        height: 50px;
        width: 200px;
        color: #3498db;
        font-size: 1.5em;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    }
